<table border="11">
	<tr align="center">
		<th><strong>Test question:</strong></th>
		<th colspan='3'><strong>Actions</strong></th>
	</tr>
	<tr align="center">
		<td><%= question.body %></td>
		<td><%= button_to 'New', new_test_question_path(@test), :method => :get %></td>
		<td><%= button_to 'Edit', edit_question_path(question), :method => :get %></td>
		<td><%= button_to 'Delete', question_path(question), :method => :delete,
    		data: { turbo_confirm: 'Are you sure O_o ???'} %></td>
    </tr>
</table>

