<nav class="navbar bg-primary" data-bs-theme="dark">
  <%= link_to t('.header'), root_path, class: 'navbar-brand' %>
  <span class="navbar-text">
    <%= t('.welcome') %>, <b><%= current_user.email %></b> |
    <%= link_to t('global_buttons.logout'), destroy_user_session_path, data: { turbo_method: :delete } %>
  </span>
</nav>