<div>
  <br>
  <br>
  <br>
  <tr>
    <td>
      <%= current_year %>
      |
    </td>
    <td>
      <%= github_url('AdmOfReality', 'rails') %>
      |
    </td>
    <td>
      <%= thinknetica_link %>
    </td>
  </tr>
  <p>
    Ruby on Rails - то что не убивает тебя, делает тебя странее!!!
  </p>
</div>